* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff0055;
}

.m-top {
    margin-top: 2rem;
}

.d-none {
    display: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.wrapper {
    background-color: white;
    border-radius: .5rem;
    width: 80%;
    margin: 0 auto;
}

.left {
    background-color: gray;
    height: 150px;
    display: inline-block;
}

.right {
    height: 150px;
    display: inline-block;
}

.right h4 {
    margin-right: 3rem;
}

.right p {
    display: inline-block;
}

.form-item {
    display: inline-block;
    text-align: center;
    padding-right: 3rem;
    margin: 2rem ;
}

.form-item label {
    display: block;
}

.button {
    text-align: center;
}

button {
    color: #ff0055;
    font-weight: bold;
    padding: .3rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

label {
    color: #ff0055;
    margin-bottom: .5rem;
}

input {
    border: 1px solid #ff0055;
    border-radius: .3rem;
    height: 30px;
}

select {
    border: 1px solid #ff0055;
    border-radius: .3rem;
}

h2 {
    padding: .5rem;
    text-transform: uppercase;
}

.result {
    padding: 1rem;
}

.dati {
    display: inline-block;
}
